@import '../../styles/commonStyles.scss';
.event-page-container {
    padding: 0 50px;

    .filter {
        margin: 20px 0;
        width: 100%;
        background-color: white;
        color: #4B5768;
        border: 1px solid lightgray;
        text-align: start;
    }

    .search {
        width: 100%;
    }

    .create-evt-btn {
        min-width: 170px;
        margin-left: 20px;
    }
}

.point-events-table{
    width: 100%;
    padding: 10px 0;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid #E7EAEE;
        height: 64px;
    }

    thead {
        text-transform: uppercase;
        color: #4B5768;
        font-size: 14px;
        td {
            width: 15%;
            align-content: center;
        }
    }

    tbody {
        .table-row {
            cursor: pointer;
            &:hover {
                color:lightgray;
            }
            .table-actions {
                display: flex;
                justify-content: center;
                &:hover {
                    color: $red;
                }
            }
            path {
                // stroke: $red !important;
            }
            .chart-container {
                height: 30px;
                width: 60%;
            }
        }
    }

}

//toggle
.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 55px;
    height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color ease 0.3s;
  }
  
  .toggle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    // color: $red;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: #4CD964;
    color: #4B5768;
  }
  
  .toggle:checked:before {
    left: 32px;
  }

  //checkbox

  .checkbox-container:has(> input:disabled:checked[false])::after {
    border-radius: 50px;
}
  .checkbox-container:has(> input:disabled:checked)::after {
    width: 10px;
    border-radius: 50px;
    height: 10px;
    font-size: 9px;
    background: #4CD964;
    display: inline-block;
    color: white;
    position: relative;
    content: "";
    text-align: center;
    float: left;
    padding: 2px;
}

.checkbox-container input:disabled:checked {
    display: none
}