@import '../../styles/commonStyles.scss';
.event-page-container {
    padding: 0 50px;
}

.point-events-table{
    width: 100%;
    padding: 10px 0;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid #E7EAEE;
        height: 64px;
    }

    thead {
        text-transform: uppercase;
        color: #4B5768;
        font-size: 14px;
        td {
            width: 15%;
            align-content: center;
        }
    }

    tbody {
        .table-row {
            cursor: pointer;
            &:hover {
                color:lightgray;
            }
            .table-actions {
                display: flex;
                justify-content: center;
                &:hover {
                    color: $red;
                }
            }
            path {
                stroke: $red !important;
            }
        }
    }

}