@import '../styles/commonStyles.scss';

.App {
  text-align: center;
}

p,div,h1,h2,h3,h4,h5,h6 {
  font-family: 'ProximaNova';
}

button {
  background-color: $red;
  border-radius: 10px;
  border: none;
  color: white;
  height: 50px;
  max-width: 100%;

  &:hover {
    cursor: pointer;
    background-color: brown;

  }
}

input {
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px;
  color: #7D899A;
  background-color: #F9F9F9;
}